@import "tailwindcss";

@theme {
  --font-family-clash: var(--font-clash-display), ui-sans-serif, system-ui, sans-serif;
  
  /* Colores personalizados */
  --color-primary: #010101;
  --color-secondary: #D9D9D9;
  --color-tertiary: #130089;
  
}

/* Clase utilitaria para usar la fuente directamente */
.font-clash {
  font-family: var(--font-clash-display), ui-sans-serif, system-ui, sans-serif;
}